<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <display-name>ProyectoParqueo</display-name>
    <servlet>
        <servlet-name>jakarta.ws.rs.core.Application</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>jakarta.ws.rs.core.Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
</web-app>
